.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#header {
    font-family: monospace;
    font-size: 48px;
    color: white;
    text-align: center;
}

div.container {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

ul {
    display: inline-block;
    color: white;
}

a {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: monospace;
}