img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

#header {
    text-align: center;
    font-family: monospace;
    font-size: 48px;
    color: white;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    color: white;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: monospace;
}

div.container {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

ul {
    color: white;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
}

ol {
    color: white;
    font-family: monospace;
    font-size: 20px;
}